.container .header {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #d0d1d3;
}

.container {
    background-color: white;
}

.detail {
    display: block;
}

.header .title {
    display:block;
}

.actions {
    visibility: hidden;
}