.container .header {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #d0d1d3;
}

.container {
    background-color: white;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow:
    #656565 2px 2px 2px 2px;
    -moz-box-shadow:
    #656565 2px 2px 2px 2px;
    box-shadow:
    #656565 2px 2px 2px 2px;
}

.detail {
    display: block;
}

.header .title {
    display:block;
}

.actions {
    visibility: hidden;
}