.container.opened .header{
    background-color: #efefef;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background-image: url('../../SWAN/header.png');
    background-size: 300px 80px;
    background-repeat: no-repeat;
    height: 80px;
}
.container.opened .header .title{
    display: none;
}
.detail{
    background-color: #e4e4e4;
}
.messages{
    max-height: 300px;
    overflow-y: auto;
}

.messages .message{
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 10px 50px 10px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.input-group .input-group-addon:first-child{
    display: none;
}